:root{
    --main-page-color: #192C2D;
    --header-text-color: #0E4050;
    --primary-color: #33ff99;
    --secondary-color: #01a5b3;
}

html{
    font-size: 62.5%;
}


li{
    list-style: none;
    
}

a{
    text-transform: none;
    text-decoration: none;
}

.header{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.header__first-part{
    
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
    height: 19%;
    padding-top: 9vh;
}

.header__first-part div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-identity{
    margin: 0;
    font-size: 3.7rem;
    order: 1;
    color: var(--header-text-color);
}

.my-profesion{
    margin: 0;
    font-weight: lighter;
    font-family: sans-serif;
    order: 0;
    font-size: 2rem;
    color: var(--header-text-color);
}

.header__second-part{
    height: 11%;
    background-image: linear-gradient(var(--primary-color) 60%, var(--main-page-color) 40%);
}
.main-menu{
    position: relative;
    display: block;
    height: 100%;
    width: 11vh;
    background-image: linear-gradient(#FF4A33 35%
    , #C34DFF);
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,.35);
    margin: 0 auto;
}

.header__third-part{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-page-color);
    height: 70%;
}

.philosofy-conteiner{
    margin: 0 auto;
    width: 84%;
    display: block;
    border-bottom: 7px ridge var(--primary-color);
    border-radius: 25%;
    padding-top: 2vh;
}

.philosofy-frase{

    color: whitesmoke;
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.philosofy-frase span{
    text-transform: capitalize;
    color: var(--primary-color);
}

.conteiner-logo__image{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 220px;
}

.second-menu{
    margin-bottom: 2vh;
}

.second-menu__list{
    display: flex;
    justify-content: space-around;
}

.second-menu__enlace{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.second-menu__enlace div{
    color: var(--header-text-color);
    margin: 0 auto;
    display: block;
    height: 5.0rem;
    width: 5.0rem;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    border-radius: 50%;
    font-size: 3.4rem;
    text-align: center;
    padding-top: 5px;
}

.second-menu__enlace span{
    font-family: sans-serif;
    margin: 5px 0;
    display: block;
    color: whitesmoke;
    font-size: 2.0rem;
}